In [2]:
!pip install MLB-StatsAPI

Collecting MLB-StatsAPI
  Downloading MLB_StatsAPI-1.6.1-py3-none-any.whl (30 kB)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.9/site-packages (from MLB-StatsAPI) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests->MLB-StatsAPI) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests->MLB-StatsAPI) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests->MLB-StatsAPI) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/lib/python3.9/site-packages (from requests->MLB-StatsAPI) (2.0.4)
Installing collected packages: MLB-StatsAPI
Successfully installed MLB-StatsAPI-1.6.1

In [19]:
# i am going to hit the mmlb stats api for daily stats and build predictive models based on the results
import pandas as pd
import statsapi
import regex

In [22]:
schedule_to_date = pd.DataFrame(statsapi.schedule(start_date = '2023-03-30', end_date = '2023-04-11'))

In [24]:
schedule_to_date

,game_id,game_datetime,game_date,game_type,status,away_name,home_name,away_id,home_id,doubleheader,...,venue_id,venue_name,national_broadcasts,series_status,winning_team,losing_team,winning_pitcher,losing_pitcher,save_pitcher,summary
0,718780,2023-03-30T17:05:00Z,2023-03-30,R,Final,Atlanta Braves,Washington Nationals,144,120,N,...,3309,Nationals Park,[MLBN],ATL leads 1-0,Atlanta Braves,Washington Nationals,Lucas Luetge,Patrick Corbin,None,2023-03-30 - Atlanta Braves (7) @ Washington N...
1,718781,2023-03-30T17:05:00Z,2023-03-30,R,Final,San Francisco Giants,New York Yankees,137,147,N,...,3313,Yankee Stadium,[MLBN],NYY leads 1-0,New York Yankees,San Francisco Giants,Gerrit Cole,Logan Webb,None,2023-03-30 - San Francisco Giants (0) @ New Yo...
2,718782,2023-03-30T18:10:00Z,2023-03-30,R,Final,Baltimore Orioles,Boston Red Sox,110,111,N,...,3,Fenway Park,[MLB.tv Free Game],BAL leads 1-0,Baltimore Orioles,Boston Red Sox,Kyle Gibson,Corey Kluber,Felix Bautista,2023-03-30 - Baltimore Orioles (10) @ Boston R...
3,718777,2023-03-30T18:20:00Z,2023-03-30,R,Final,Milwaukee Brewers,Chicago Cubs,158,112,N,...,17,Wrigley Field,[],CHC leads 1-0,Chicago Cubs,Milwaukee Brewers,Marcus Stroman,Corbin Burnes,None,2023-03-30 - Milwaukee Brewers (0) @ Chicago C...
4,718776,2023-03-30T19:10:00Z,2023-03-30,R,Final,Detroit Tigers,Tampa Bay Rays,116,139,N,...,12,Tropicana Field,[],TB leads 1-0,Tampa Bay Rays,Detroit Tigers,Shane McClanahan,Eduardo Rodriguez,None,2023-03-30 - Detroit Tigers (0) @ Tampa Bay Ra...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,718615,2023-04-12T00:05:00Z,2023-04-11,R,Final,Kansas City Royals,Texas Rangers,118,140,N,...,5325,Globe Life Field,[],TEX wins 2-0,Texas Rangers,Kansas City Royals,Cole Ragans,Scott Barlow,None,2023-04-11 - Kansas City Royals (5) @ Texas Ra...
171,718613,2023-04-12T00:40:00Z,2023-04-11,R,Final,St. Louis Cardinals,Colorado Rockies,138,115,N,...,19,Coors Field,[],Series tied 1-1,St. Louis Cardinals,Colorado Rockies,Giovanny Gallegos,Pierce Johnson,Ryan Helsley,2023-04-11 - St. Louis Cardinals (9) @ Colorad...
172,718614,2023-04-12T01:38:00Z,2023-04-11,R,Final,Washington Nationals,Los Angeles Angels,120,108,N,...,1,Angel Stadium,[],Series tied 1-1,Los Angeles Angels,Washington Nationals,Shohei Ohtani,Josiah Gray,Carlos Estevez,2023-04-11 - Washington Nationals (0) @ Los An...
173,718611,2023-04-12T01:40:00Z,2023-04-11,R,Final,Milwaukee Brewers,Arizona Diamondbacks,158,109,N,...,15,Chase Field,[MLBN],Series tied 1-1,Milwaukee Brewers,Arizona Diamondbacks,Corbin Burnes,Merrill Kelly,None,2023-04-11 - Milwaukee Brewers (7) @ Arizona D...
174,718624,2023-04-12T01:45:00Z,2023-04-11,R,Final,Los Angeles Dodgers,San Francisco Giants,119,137,N,...,2395,Oracle Park,[MLBN],Series tied 1-1,San Francisco Giants,Los Angeles Dodgers,Scott Alexander,Dustin May,None,2023-04-11 - Los Angeles Dodgers (0) @ San Fra...

In [31]:
rangers_games=schedule_to_date.game_id[(schedule_to_date.home_id ==140)|(schedule_to_date.away_id == 140)].to_list()

         0
0   718779
1   718752
2   718739
3   718726
4   718709
5   718694
6   718675
7   718669
8   718642
9   718630
10  718615

In [74]:
len(rangers_games)-1

10

In [128]:
for i in range(len(rangers_games)-1):
    statsapi.boxscore_data(rangers_games[i])

In [108]:
game_1_df = pd.DataFrame(game_1['home']['players']).T

In [150]:
pd.DataFrame(game_1_df.stats[0:].tolist()).batting[0:]

0     {'runs': 2, 'doubles': 1, 'triples': 0, 'homeR...
1                                                    {}
2     {'note': 'a-', 'runs': 0, 'doubles': 0, 'tripl...
3                                                    {}
4                                                    {}
5     {'runs': 1, 'doubles': 0, 'triples': 0, 'homeR...
6     {'runs': 2, 'doubles': 0, 'triples': 0, 'homeR...
7                                                    {}
8     {'runs': 1, 'doubles': 0, 'triples': 0, 'homeR...
9     {'runs': 1, 'doubles': 0, 'triples': 0, 'homeR...
10    {'runs': 1, 'doubles': 0, 'triples': 0, 'homeR...
11                                                   {}
12                                                   {}
13                                                   {}
14                                                   {}
15                                                   {}
16                                                   {}
17    {'runs': 1, 'doubles': 0, 'triples': 0, 'homeR...
18                                                   {}
19                                                   {}
20    {'runs': 1, 'doubles': 0, 'triples': 0, 'homeR...
21                                                   {}
22    {'runs': 1, 'doubles': 0, 'triples': 0, 'homeR...
23                                                   {}
24                                                   {}
25                                                   {}
Name: batting, dtype: object

In [164]:
game_1_df

,person,jerseyNumber,position,status,parentTeamId,battingOrder,stats,seasonStats,gameStatus,allPositions
ID641680,"{'id': 641680, 'fullName': 'Jonah Heim'}",28,{'abbreviation': 'C'},{},140,600,"{'batting': {'runs': 2, 'doubles': 1, 'triples...","{'batting': {'runs': 2, 'doubles': 1, 'triples...",{},[{'abbreviation': 'C'}]
ID666142,"{'id': 666142, 'fullName': 'Cole Ragans'}",50,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {'note': '(W, 1-0)...","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},[{'abbreviation': 'P'}]
ID669352,"{'id': 669352, 'fullName': 'Bubba Thompson'}",8,{'abbreviation': 'CF'},{},140,901,"{'batting': {'note': 'a-', 'runs': 0, 'doubles...","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},"[{'abbreviation': 'PH'}, {'abbreviation': 'CF'}]"
ID453178,"{'id': 453178, 'fullName': 'Ian Kennedy'}",21,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {}}","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},NaN
ID641540,"{'id': 641540, 'fullName': 'Dane Dunning'}",33,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {}}","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},NaN
ID663993,"{'id': 663993, 'fullName': 'Nathaniel Lowe'}",30,{'abbreviation': '1B'},{},140,300,"{'batting': {'runs': 1, 'doubles': 0, 'triples...","{'batting': {'runs': 1, 'doubles': 0, 'triples...",{},[{'abbreviation': '1B'}]
ID608369,"{'id': 608369, 'fullName': 'Corey Seager'}",5,{'abbreviation': 'SS'},{},140,200,"{'batting': {'runs': 2, 'doubles': 0, 'triples...","{'batting': {'runs': 2, 'doubles': 0, 'triples...",{},[{'abbreviation': 'SS'}]
ID592351,"{'id': 592351, 'fullName': 'Jon Gray'}",22,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {}}","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},NaN
ID543543,"{'id': 543543, 'fullName': 'Brad Miller'}",13,{'abbreviation': 'DH'},{},140,800,"{'batting': {'runs': 1, 'doubles': 0, 'triples...","{'batting': {'runs': 1, 'doubles': 0, 'triples...",{},[{'abbreviation': 'DH'}]
ID543760,"{'id': 543760, 'fullName': 'Marcus Semien'}",2,{'abbreviation': '2B'},{},140,100,"{'batting': {'runs': 1, 'doubles': 0, 'triples...","{'batting': {'runs': 1, 'doubles': 0, 'triples...",{},[{'abbreviation': '2B'}]
ID673962,"{'id': 673962, 'fullName': 'Josh Jung'}",6,{'abbreviation': '3B'},{},140,500,"{'batting': {'runs': 1, 'doubles': 0, 'triples...","{'batting': {'runs': 1, 'doubles': 0, 'triples...",{},[{'abbreviation': '3B'}]
ID621368,"{'id': 621368, 'fullName': 'Taylor Hearn'}",52,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {}}","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},NaN
ID677649,"{'id': 677649, 'fullName': 'Ezequiel Duran'}",20,{'abbreviation': '3B'},{},140,NaN,"{'batting': {}, 'pitching': {}}","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},NaN
ID642546,"{'id': 642546, 'fullName': 'Jonathan Hernandez'}",72,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {'runs': 1, 'doubl...","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},[{'abbreviation': 'P'}]
ID594798,"{'id': 594798, 'fullName': 'Jacob deGrom'}",48,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {'runs': 5, 'doubl...","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},[{'abbreviation': 'P'}]
ID641598,"{'id': 641598, 'fullName': 'Mitch Garver'}",18,{'abbreviation': 'C'},{},140,NaN,"{'batting': {}, 'pitching': {}}","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},NaN
ID608671,"{'id': 608671, 'fullName': 'Travis Jankowski'}",16,{'abbreviation': 'LF'},{},140,NaN,"{'batting': {}, 'pitching': {}}","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},NaN
ID669701,"{'id': 669701, 'fullName': 'Josh H. Smith'}",47,{'abbreviation': 'LF'},{},140,900,"{'batting': {'runs': 1, 'doubles': 0, 'triples...","{'batting': {'runs': 1, 'doubles': 0, 'triples...",{},[{'abbreviation': 'LF'}]
ID571760,"{'id': 571760, 'fullName': 'Andrew Heaney'}",44,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {}}","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},NaN
ID519293,"{'id': 519293, 'fullName': 'Will Smith'}",51,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {}}","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},NaN
ID666969,"{'id': 666969, 'fullName': 'Adolis Garcia'}",53,{'abbreviation': 'RF'},{},140,400,"{'batting': {'runs': 1, 'doubles': 0, 'triples...","{'batting': {'runs': 1, 'doubles': 0, 'triples...",{},"[{'abbreviation': 'CF'}, {'abbreviation': 'RF'}]"
ID656271,"{'id': 656271, 'fullName': 'Brock Burke'}",46,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {'runs': 1, 'doubl...","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},[{'abbreviation': 'P'}]
ID543257,"{'id': 543257, 'fullName': 'Robbie Grossman'}",4,{'abbreviation': 'LF'},{},140,700,"{'batting': {'runs': 1, 'doubles': 0, 'triples...","{'batting': {'runs': 1, 'doubles': 0, 'triples...",{},"[{'abbreviation': 'RF'}, {'abbreviation': 'LF'}]"
ID543135,"{'id': 543135, 'fullName': 'Nathan Eovaldi'}",17,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {}}","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},NaN
ID600917,"{'id': 600917, 'fullName': 'Jose Leclerc'}",25,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {'runs': 0, 'doubl...","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},[{'abbreviation': 'P'}]
ID527048,"{'id': 527048, 'fullName': 'Martin Perez'}",54,{'abbreviation': 'P'},{},140,NaN,"{'batting': {}, 'pitching': {}}","{'batting': {'runs': 0, 'doubles': 0, 'triples...",{},NaN